.Footer {
  color: var(--sonjacodes-brand-color-secondary);
  font-size: 12px;
  margin: 20px 0;
  text-align: center;
}

.Footer a {
  color: var(--sonjacodes-brand-color)
}

.Footer a:hover {
  background-color: var(--sonjacodes-brand-color-secondary);
  border-radius: 2px;
  font-weight: 600;
  opacity: 1;
  text-decoration: none;
}